.card__btn-like {
  background-image: url("../../../images/icon-like.svg");
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  outline-style: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
}

.card__btn-like:hover {
  opacity: 0.6;
}
